{{ define "title" }}Aggiungi elementi{{ end }}
{{ define "back_link" }}/shopping_list{{ end }}

{{ define "content" }}
    <form method="POST">
        <div id="new-entries"></div>
        <button class="icon" onclick="removeEntry(event);"><i class="fas fa-minus"></i></button>
        <button class="icon" onclick="addEntry(event);"><i class="fas fa-plus"></i></button>
        <button class="icon-text"><i class="fas fa-check"></i> Conferma</button>
    </form>

    <script> entriesN = 0; addEntry(); </script>
{{ end }}
