/* --- VARIABLES --------------------- */
:root {
    --red: #d50000;
    --orange: #ff9900;
    --background: #f9f9f9;
    --section: #e1e1e1;
    --text: #4a4a4a;

    --cursive: 'Satisfy', cursive;
    --sansserif: 'Inclusive Sans', sans-serif;
}


/* --- GENERAL ELEMENTS -------------- */
* {
    font-family: var(--sansserif);
}

a, a:visited {
    color: var(--orange);
    text-decoration: underline;
}

a:hover {
    color: var(--red);
    border-bottom: none;
}

textarea {
    resize: none;
}

/* --- NAV, MAIN AND FOOTER ---------- */
nav {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 20px 0;

    text-align: center;
    background-color: var(--red);

    cursor: pointer;
}

#logo {
    font-size: 45px;
    color: white;
    font-family: var(--cursive);
    text-shadow: var(--orange) 2px 3px 2px;
}

main {
    margin: 130px auto;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;

    color: white;
    background-color: var(--red);
}

footer #timestamp {
    display: none;
}

footer a:hover {
    color: white;
}


/* --- FORM -------------------------- */
.editing {
    display: none;
}

label {
    display: inline-block;
}

input[type=text] {
    margin-right: 5px;
}

input[type=number] {
    width: 40%;
}

.button-line {
    margin-bottom: 5px;
}


/* --- PRINT ------------------------- */
@media print {
    @page {
        margin: 0;
    }

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    footer {
        position: sticky;
        width: 100%;
    }

    .button-line, footer #links {
        display: none;
    }

    footer #timestamp {
        display: block;
    }
}
