{{ define "title" }}Registrati{{ end }}

{{ define "content" }}
    <form method="POST">
        <label for="username">Nome utente</label> <br>
        <input type="text" name="username" required> <br>

        <label for="email">Email</label> <br>
        <input type="email" name="email" required> <br>

        <label for="password1">Password</label> <br>
        <input type="password" name="password" id="password1" required> <br>

        <label for="password2">Ripeti password</label> <br>
        <input type="password" name="password2" id="password2" required> <br>

        <button class="icon-text"><i class="fas fa-user-plus"></i> Regstrati</button> <br>

        Hai già un account? <a hx-get="/account/accedi">Accedi</a>
    </form>
{{ end }}
