{{ define "title" }}{{ t "STR_APPEND_ENTRIES" . }}{{ end }}
{{ define "back_link" }}/shopping_list{{ end }}

{{ define "content" }}
    <form method="POST">
        <button class="icon" onclick="removeItem(event);"><i class="fas fa-minus"></i></button>
        <button class="icon" onclick="addItem(event);"><i class="fas fa-plus"></i></button>
        <button class="icon-text"><i class="fas fa-check"></i> {{ t "STR_CONFIRM" . }}</button>

        <div id="new-items">
            <div class="item hidden">
                <input class="name" type="text" nametemplate="entry-ID-name" placeholder="{{ t "STR_NAME" . }}">
            </div>
        </div>
    </form>

    <script>
        addItem();
    </script>
{{ end }}
