{{ define "title" }}{{ t "STR_SHOPPINGLIST" . }}{{ end }}
{{ define "back_link" }}/{{ end }}

{{ define "content" }}
    <div class="shopping-list">
        <button class="icon-text" hx-get="/shopping_list/append">
            <i class="fas fa-plus"></i> {{ t "STR_ADD" . }}
        </button>

        {{ if .List }}
            <button class="icon-text" hx-post="/shopping_list/clear" hx-push-url="false">
                <i class="fas fa-trash"></i> {{ t "STR_DELETE_SELECTED" . }}
            </button>
        {{ end }}

        {{ range .List }}
            <div class="shopping-item">
                <input type="checkbox" {{ if .Marked }} checked {{ end }} autocomplete="off" readonly
                hx-post="/shopping_list/{{ .EID }}/toggle" hx-push-url="false">

                <label hx-get="/shopping_list/{{ .EID }}/edit">{{ .Name }}</label>
            </div>
        {{ else }}
            <span id="empty-label">{{ t "STR_SHOPPINGLIST_EMPTY" . }}</span>
        {{ end }}
    </div>
{{ end }}
