{% extends "base.html" %}

{% block imports %}
    <script src="{{ url_for('static', filename='js/shopping.js') }}"></script>
    <script> window.onload = function() {  $("label").on("click", clickHandler); } </script>
{% endblock %}

{% set title = "Lista della spesa" %}

{% set back_link = '/' %}

{% block content %}
    <div class="shopping-list">
        {% if not list %}
            <span id="empty-label">La lista &egrave; vuota.</span>
        {% else %}
            {% for entry in list %}
                <div>
                    <input type="checkbox" id="{{ entry.eid }}" disabled autocomplete="off">
                    <label for="{{ entry.eid }}">{{ entry.name }}</label>
                </div>
            {% endfor %}
        {% endif %}

        <button class="icon-text"><i class="fas fa-plus"></i> Aggiungi articoli</button>
        <button class="icon-text"><i class="fas fa-trash"></i> Elimina selezionati</button>
    </div>
{% endblock %}
