layout python python3.11


if [ ! -f .direnv/installed ]; then
    pip install -r requirements.txt

    docker run -d \
        --network host \
        --name cucinassistant-db \
        -e MARIADB_USER=cucinassistant \
        -e MARIADB_PASSWORD=cucinassistant \
        -e MARIADB_DATABASE=cucinassistant \
        -e MARIADB_RANDOM_ROOT_PASSWORD=1 \
        mariadb:10.6

    touch .direnv/installed
else
    docker start cucinassistant-db
fi
