{{ define "title" }}{{ t "STR_MENUS" . }}{{ end }}
{{ define "back_link" }}/{{ end }}

{{ define "content" }}
    <div class="dashboard">
        {{ range .Menus }}
            <button hx-get="/menus/{{ .MID }}">
                <i class="fas fa-utensils"></i>
                <span>{{ .Name }}</span>
            </button>
        {{ end }}

        <button hx-post="/menus/new" class="transparent">
            <i class="fas fa-plus"></i>
            <span>{{ t "STR_NEW_MENU" . }}</span>
        </button>
    </div>
{{ end }}
