{{ define "title" }}{{ .Menu.Name }}{{ end }}
{{ define "back_link" }}/menus{{ end }}

{{ define "content" }}
    <button class="icon-text" hx-get="/menus/{{ .Menu.MID }}/edit"><i class="fas fa-edit"></i> {{ t "STR_EDIT" . }}</button>
    <button class="icon-text" hx-post="/menus/{{ .Menu.MID }}/duplicate"><i class="fas fa-clone"></i> {{ t "STR_CLONE" . }}</button>

    <div class="menu-day">
        <b>{{ t "STR_MONDAY" . }}</b>
        <textarea readonly>{{ index .Menu.Meals 0 }}</textarea>
        <textarea readonly>{{ index .Menu.Meals 1 }}</textarea>
    </div>

    <div class="menu-day">
        <b>{{ t "STR_TUESDAY" . }}</b>
        <textarea readonly>{{ index .Menu.Meals 2 }}</textarea>
        <textarea readonly>{{ index .Menu.Meals 3 }}</textarea>
    </div>

    <div class="menu-day">
        <b>{{ t "STR_WEDNESDAY" . }}</b>
        <textarea readonly>{{ index .Menu.Meals 4 }}</textarea>
        <textarea readonly>{{ index .Menu.Meals 5 }}</textarea>
    </div>

    <div class="menu-day">
        <b>{{ t "STR_THURSDAY" . }}</b>
        <textarea readonly>{{ index .Menu.Meals 6 }}</textarea>
        <textarea readonly>{{ index .Menu.Meals 7 }}</textarea>
    </div>

    <div class="menu-day">
        <b>{{ t "STR_FRIDAY" . }}</b>
        <textarea readonly>{{ index .Menu.Meals 8 }}</textarea>
        <textarea readonly>{{ index .Menu.Meals 9 }}</textarea>
    </div>

    <div class="menu-day">
        <b>{{ t "STR_SATURDAY" . }}</b>
        <textarea readonly>{{ index .Menu.Meals 10 }}</textarea>
        <textarea readonly>{{ index .Menu.Meals 11 }}</textarea>
    </div>

    <div class="menu-day">
        <b>{{ t "STR_SUNDAY" . }}</b>
        <textarea readonly>{{ index .Menu.Meals 12 }}</textarea>
        <textarea readonly>{{ index .Menu.Meals 13 }}</textarea>
    </div>
{{ end }}
