{% extends "base.html" %}

{% set title = 'Impostazioni' %}

{% block imports %} <style> #settings { opacity: 0; } </style> {% endblock %}

{% block content %}
    <menu>
        <button onclick="location.href='/account/esci/'">Esci</button> <br>
        <button onclick="location.href='/account/cambia_nomeutente/';">Cambia nome utente</button> <br>
        <button onclick="location.href='/account/cambia_email/';">Cambia email</button> <br>
        <button onclick="location.href='/account/cambia_password/';">Cambia password</button> <br>
        <button onclick="location.href='/account/elimina/';">Elimina account</button>
    </menu>
{% endblock %}
