{% extends "base.html" %}

{% set title = 'Impostazioni' %}

{% block imports %} <style> #settings { opacity: 0; } </style> {% endblock %}

{% block content %}
    <menu>
        <button onclick="location.href='/account/esci/'">Esci</button> <br>
        <button onclick="location.href='/account/cambio_email/';">Cambio email</button> <br>
        <button onclick="location.href='/account/cambio_password/';">Cambio password</button> <br>
        <button onclick="location.href='/account/elimina/';">Elimina account</button>
    </menu>
{% endblock %}
