<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">

        <title>CucinAssistant | {{ title }}</title>

        <meta http-equiv="content-type" content="text/html">
        <meta name="lang" content="it">
        <meta name="author" content="Parri Gianluca">
        <meta name="owner" content="Parri Gianluca">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script type="application/ld+json">
            {
                "@context" : "https://schema.org",
                "@type" : "WebSite",
                "name" : "CucinAssistant",
                "alternateName" : "cucinassistant",
                "url" : "{{ config['Environment']['Address'] }}"
            }
        </script>

        <link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Satisfy&display=swap">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='sakura.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <script src="{{ url_for('static', filename='cookie_banner.js') }}"></script>
        {% block imports %} {% endblock %}

        {% if show %} <script> alert('{{ show }}'); </script> {% endif %}
    </head>

    <body>
        <nav>
            <img id="home" onclick="location.href = '/'" src="{{ url_for('static', filename='icon_home.svg') }}">
            <span id="logo">CucinAssistant</span>
            <img id="settings" onclick="location.href = '/account/'" src="{{ url_for('static', filename='icon_settings.svg') }}">
        </nav>

        <main>
            <h1>{{ title }}</h1>

            {% block content %} {% endblock %}
        </main>

        <div id="obfuscator">
            <div id="cookie-banner">
                <span>
                    Questo sito utilizza i cookies per funzionare. Proseguendo con
                    la navigazione, si presta il consenso all'utilizzo.
                </span>

                <button onclick="toggleCookieBanner();">Continua</button>
            </div>
        </div>

        <footer>
            <div>CucinAssistant &copy; 2023, Gianluca Parri</div>
            <div><a href="/info">Ulteriori Informazioni</a></div>
        </footer>
    </body>
</html>
