{% extends "base.html" %}

{% set title = 'Home' %}

{% block imports %} <style> #home { opacity: 0; } </style> {% endblock %}

{% block content %}
    <menu>
        <button onclick="location.href='/menu/'">Menu della settimana</button> <br>
        <button onclick="location.href='/spesa/'">Lista della spesa</button> <br>
        <button onclick="location.href='/idee/'">Idee</button> <br>
        <button onclick="location.href='/scadenze'">Scadenze</button> <br>
        <button onclick="location.href='/quantita'">Quantit&agrave;</button> <br>
        <button onclick="location.href='/impostazioni'">Impostazioni</button> <br>
    </menu>
{% endblock %}
