{% extends "base.html" %}

{% set title = section.title() %}

{% block imports %}
    <script>
        function start_adding() {
            $('.non-editing, .editing-r').remove();
            $('.editing, .editing-a').css('display', 'block');
        }

        function start_removing() {
            $('.non-editing, .editing-a').remove();
            $('.editing, .editing-r').css('display', 'block');
            $('input[type=checkbox]').attr('disabled', false);
        }

        window.onload = function() {
            for (input of document.getElementsByTagName('input')) {
                input.onclick = function(click) {
                    $('textarea').text($('textarea').text() + "\n" + click.target.name);
                }
            }
        }
    </script>
{% endblock %}

{% block content %}
    <h1>Lista dell{{ 'a spesa' if section == 'spesa' else 'e idee'}}</h1>

    <form method="POST">
        <div class="editing-r">
            <textarea name="remove" hidden></textarea>

            {% for i, e in list %}
                <div>
                    <input type="checkbox" id="e{{ i }}" autocomplete="off" name="{{ e }}" disabled>
                    <label for="e{{ i }}" name="{{ e }}">{{ e }}</label>
                </div>
            {% else %}
                <i>La lista &egrave; vuota.</i>
            {% endfor %}
        </div>

        <div class="editing editing-a">
            <textarea name="add"></textarea>
        </div>

        <button class="non-editing" onclick="start_adding()" type="button">Aggiungi</button>
        <button class="non-editing" onclick="start_removing()" type="button">Rimuovi</button>
        <button class="non-editing" onclick="window.print()" type="button">Scarica</button>

        <button class="editing">Salva</button>
        <button class="editing" onclick="location.reload()" type="button">Annulla</button>
    </form>
{% endblock %}
