{% extends "base.html" %}

{% block imports %}
    <script>
        {% if add %}
            let i = 0;

            function add_element() {
                let div = `<div class="new-element"><input class="name" type="text" placeholder="Nome" required></div>`;
                $('#new-elements').append(div);
                i++;
            }

            function remove_element() {
                if (i > 1) {
                    $('#new-elements').find('div:last').remove();
                    i--;
                }
            }
        {% endif %}


        window.onload = function() {
            {% if add %} add_element(); {% endif %}

            document.forms[0].onsubmit = function() {
                let text = '';

                {% if add %}
                    for (div of $('.new-element')) text += '\n' + div.children[0].value;
                {% elif del %}
                    for (input of $('input')) if (input.checked) text += '\n' + input.id;
                {% endif %}

                $('textarea').text(text);
                $('input').remove();
                return true;
            }
        }
    </script>
{% endblock %}

{% block content %}
    <form method="POST">
        {% if add %}
            <div id="new-elements">
                <textarea name="add" hidden></textarea>
            </div>
        {% else %}
            {% set list = get_list() %}

            <div>
                <textarea name="remove" hidden></textarea>

                {% if list %}
                    {% for id, name in list.items() %}
                        <div>
                            <input type="checkbox" id="{{ id }}" autocomplete="off" {{ 'disabled' if not del }}>
                            <label for="{{ id }}"><span>{{ name }}</span></label>
                        </div>
                    {% endfor %}
                {% else %}
                    <i>La lista &egrave; vuota.</i>
                {% endif %}
            </div>
        {% endif %}

        <div>
            {% if add %}
                <button class="icon" onclick="if (confirm('Sei sicuro di voler annullare le modifiche?')) location.href = '.';" type="button"><i class="fas fa-undo"></i></button>
                <button class="icon" onclick="remove_element()" type="button"><i class="fas fa-minus"></i></button>
                <button class="icon" onclick="add_element()" type="button"><i class="fas fa-plus"></i></button>
                <button class="icon"><i class="fas fa-check"></i></button>
            {% elif del %}
                <button class="icon" onclick="if (confirm('Sei sicuro di voler annullare le modifiche?')) location.href = '.';" type="button"><i class="fas fa-undo"></i></button>
                <button class="icon"><i class="fas fa-check"></i></button>
            {% else %}
            {% if list %} <button class="icon" onclick="location.href='?rimuovi';" type="button"><i class="fas fa-minus"></i></button> {% endif %}
                <button class="icon" onclick="location.href='?aggiungi';" type="button"><i class="fas fa-plus"></i></button>
            {% endif %}
        </div>
    </form>
{% endblock %}
