{% extends "base.html" %}

{% set title = 'Login' if login else 'Registrazione' %}

{% block imports %} <style> #home, #settings { opacity: 0; } </style> {% endblock %}

{% block content %}
    <form method="POST">
        <label for="username">Nome utente</label>
        <input type="text" name="username" required> <br>

        {% if not login %}
            <label for="email">Email</label>
            <input type="email" name="email" required> <br>
        {% endif %}

        <label for="password">Password</label>
        <input type="password" name="password" required> <br>

        <input type="submit" value="{{ 'Login' if login else 'Registrati' }}">

        {% if login and can_reset %} 
            <div><a href="/reset_password">Password dimenticata?</a></div>
        {% endif %}
    </form>

    <hr>

    {% if login %}
        <div>Non sei registrato ma vuoi un account? <a href="/registrazione">Registrati</a></span>
    {% else %}
        <div>Hai gi&agrave; un account? <a href="/login">Login</a></span>
    {% endif %}
{% endblock %}
