{% extends "base.html" %}

{% set title = 'Login' if login else 'Registrazione' %}

{% block content %}
    <h1>{{ title }}</h1>

    <form method="POST">
        <label for="username">Nome utente</label>
        <input type="text" name="username" required>

        {% if not login %}
            <label for="email">Email</label>
            <input type="email" name="email" required>
        {% endif %}

        <label for="password">Password</label>
        <input type="password" name="password" required>

        <input type="submit" value="{{ 'Login' if login else 'Registrati' }}">

        {% if login %} 
            <a href="mailto:gianlucaparri03@gmail.com?subject=[CucinAssistant] Reset Password">Password dimenticata?</a>
        {% endif %}
    </form>

    <hr>

    {% if login %}
        <span>Non sei registrato ma vuoi un account? <a href="/registrazione">Registrati</a></span>
    {% else %}
        <span>Hai gi&agrave; un account? <a href="/login">Login</a></span>
    {% endif %}
{% endblock %}
