{% extends "base.html" %}

{% set title = 'Privacy' %}

{% block content %}
    <span>
        Il server in cui &egrave; hostato CucinAssistant&trade; &egrave; propriet&agrave; di Parri Gianluca.<br>
        Il traffico dati dal vostro dispositivo al server &egrave; crittografato dal protocollo
        <a href="https://it.wikipedia.org/wiki/HTTPS">HTTPS</a>,
        quindi illeggibili da chiunque altro.<br>
        Le password, una volta arrivate al server, vengono crittografate; tutto il resto dei dati, invece,
        viene mantenuto in chiaro, in quanto non dati sensibili.<br>
        Per qualsiasi altra informazione, <a href="mailto:gianlucaparri03@gmail.com">contattatemi</a> pure.
    </span>
{% endblock %}
