{% extends "base.html" %}

{% set title = 'Registrazione' %}

{% block imports %} <style> #home, #settings { opacity: 0; } </style> {% endblock %}

{% block content %}
    <form method="POST">
        <label for="username">Nome utente</label>
        <input type="text" name="username" required> <br>

        <label for="email">Email</label>
        <input type="email" name="email" required> <br>

        <label for="password">Password</label>
        <input type="password" name="password" required> <br>

        <input type="submit" value="Registrati">
    </form>

    <hr>

    <div>Hai gi&agrave; un account? <a href="/account/login">Login</a></span>
{% endblock %}
