{% extends "base.html" %}

{% set title = 'Impostazioni' %}

{% block imports %}
    <script>
        function delete_account() {
            if (prompt("Sei davvero sicuro di voler eliminare l'account? Scrivi 'Si sono sicuro' per confermare.") == "Si sono sicuro") {
                document.forms[0].action += 'elimina_account/';
                document.forms[0].submit();
            }
        }
    </script>
{% endblock %}

{% block content %}
    <form method="POST" hidden></form>

    <menu>
        <button onclick="location.href='/logout/'">Logout</button> <br>
        <button onclick="location.href='mailto:gianlucaparri03@gmail.com?subject=[CucinAssistant] Cambio Password';">Cambio password</button> <br>
        <button onclick="delete_account()">Eliminazione account</button>
    </menu>
{% endblock %}
