{% extends "base.html" %}

{% set title = 'Home' %}

{% block imports %}
    <script>
        function delete_account() {
            if (prompt("Sei davvero sicuro di voler eliminare l'account? Scrivi 'Si sono sicuro' per confermare.") == "Si sono sicuro") {
                document.forms[0].action += 'elimina_account/';
                document.forms[0].submit();
            }
        }
    </script>
{% endblock %}

{% block content %}
    <form method="POST" hidden></form>

    <ul>
        <li><a href="/logout/">Logout</a></li>
        <li><a href="mailto:gianlucaparri03@gmail.com?subject=[CucinAssistant] Cambio Password';">Cambio password</a></li>
        <li><a onclick="delete_account()">Eliminazione account</a></li>
    </ul>
{% endblock %}
