{{ define "content" }}
    <div class="dashboard">
        <button hx-get="/menus">
            <i class="fas fa-utensils"></i>
            <span>{{ t "STR_MENUS" . }}</span>
        </button>

        <button hx-get="/storage">
            <i class="fas fa-box"></i>
            <span>{{ t "STR_STORAGE" . }} </span>
        </button>

        <button hx-get="/shopping_list">
            <i class="fas fa-shopping-cart"></i>
            <span>{{ t "STR_SHOPPINGLIST" . }}</span>
        </button>

        <button hx-get="/user/settings" class="transparent">
            <i class="fas fa-cog"></i>
            <span>{{ t "STR_SETTINGS" . }}</span>
        </button>
    </div>

    <script>
        disableNavigation();
        $('h1').text('{{ t "STR_WELCOMEBACK" . }}');
    </script>
{{ end }}
