{{ define "title" }}{{ t "STR_LANGUAGE" . }}{{ end }}
{{ define "back_link" }}/{{ end }}

{{ define "content" }}
    <form method="GET">
        <select name="tag">
            {{ $current := .Current }}
            {{ range $tag, $name := .Langs }}
                <option value="{{ $tag }}" {{ if eq $current $tag }}selected{{ end }}>
                    {{ $name }}
                </option>
            {{ end }}
        </select>

        <button class="icon-text"><i class="fas fa-check"></i> {{ t "STR_SAVE" . }}</button>
    </form>
{{ end }}
