{{ define "title" }}{{ t "STR_STATS_TITLE" . }}{{ end }}
{{ define "back_link" }}/{{ end }}

{{ define "content" }}
    <div class="dashboard">
        <button class="transparent" disabled>
            <i class="fas fa-user"></i>
            <span>{{ t "STR_STATS_USERS" . }}</span>
        </button>

        <button class="transparent" disabled>
            <i class="fas fa-utensils"></i>
            <span>{{ t "STR_STATS_MENUS" . }}</span>
        </button>

        <button class="transparent" disabled>
            <i class="fas fa-box"></i>
            <span>{{ t "STR_STATS_ARTICLES" . }}</span>
        </button>

        <button class="transparent" disabled>
            <i class="fas fa-shopping-cart"></i>
            <span>{{ t "STR_STATS_ENTRIES" . }}</span>
        </button>
    </div>
{{ end }}
