{{ define "content" }}
    <div class="dashboard">
        <button hx-get="/menu">
            <i class="fas fa-utensils"></i>
            <span>Menù</span>
        </button>

        <button hx-get="/storage">
            <i class="fas fa-box"></i>
            <span>Dispensa</span>
        </button>

        <button hx-get="/shopping_list">
            <i class="fas fa-shopping-cart"></i>
            <span>Lista della spesa</span>
        </button>

        <button hx-get="/user/settings" class="transparent">
            <i class="fas fa-cog"></i>
            <span>Impostazioni</span>
        </button>
    </div>

    <script>
        $('h1').text('Bentornato, {{ .Username }}!');
        $('nav i').remove();
    </script>
{{ end }}
