{{ define "title" }}Accedi{{ end }}
{{ define "back_link" }}/{{ end }}

{{ define "content" }}
    <p>
        <b>CucinAssistant</b> è un progetto sviluppato interamente da
        <a href="https://gianlucaparri.me" target="_blank"><b>Gianluca Parri</b></a>, ideato nel 2023
        in seguito alla sua nuova vita da fuorisede universitario. Da quel momento
        è in continua evoluzione, anche se lentamente. <br>
        La versione corrente è la <b>{{ .Version }}</b>. <br> <br>

        Al momento è disponibile sia <a href="{{ .Config.BaseURL }}" target="_blank">
        come <b>sito web</b></a> sia come applicazione Android, disponibile sul
        <a href="https://play.google.com/store/apps/details?id=me.gianlucaparri.ca.twa" target="_blank"><b>Play Store</b></a>; per gli utenti iOS non
        è disponibile un'app sullo store, ma si può installare dal browser. <br> <br>

        <b>CucinAssistant</b> è completamente <b>open source</b>; il codice sorgente è disponibile su
        <a href="https://github.com/gianluparri03/cucinassistant/" target="_blank"><b>GitHub</b></a>. <br> <br>

        Per ulteriori <b>informazioni</b>, potete scrivere una mail a
        <a href="mailto:cucinassistant@gmail.com" target="_blank">cucinassistant@gmail.com</a>. <br> <br>

        Attualmente, ci sono {{ .UsersNumber }} <b>utenti attivi</b>.
    </p>
{{ end }}
