{{ define "title" }}Accedi{{ end }}
{{ define "back_link" }}/{{ end }}

{{ define "content" }}
    <p>
        <b>CucinAssistant</b> è un progetto sviluppato interamente da
        <a href="https://gianlucaparri.me" target="_blank">Gianluca Parri</a>, ideato nel 2023
        in seguito alla sua nuova vita da fuorisede universitario. Da quel momento
        è in continua evoluzione, anche se lentamente. <br> <br>

        Al momento è disponibile sia <a href="{{ .Config.BaseURL }}" target="_blank">
        come sito web</a> sia come applicazione Android, disponibile sul
        <a href="{{ .Config.StoreLink }}" target="_blank">Play Store</a>; per gli utenti iOS non
        è disponibile un'app sullo store, ma si può installare dal browser. <br> <br>

        <b>CucinAssistant</b> è completamente open source; il codice sorgente è disponibile su
        <a href="https://github.com/gianluparri03/cucinassistant/" target="_blank">GitHub</a>. <br> <br>

        Per ulteriori informazioni, potete scrivere una mail a
        <a href="mailto:{{ .Config.SupportEmail }}" target="_blank">{{ .Config.SupportEmail }}</a>. <br> <br>

        La versione corrente è la {{ .Version }}. Attualmente, ci sono {{ .UsersNumber }} utenti attivi.
    </p>
{{ end }}
