{{ define "title" }}Aggiungi articoli{{ end }}
{{ define "back_link" }}/storage/{{ .SID }}{{ end }}

{{ define "content" }}
    <form method="POST">
        <div id="new-articles"></div>
        <button class="icon" onclick="removeArticle(event);"><i class="fas fa-minus"></i></button>
        <button class="icon" onclick="addArticle(event);"><i class="fas fa-plus"></i></button>
        <button class="icon-text"><i class="fas fa-check"></i> Conferma</button>
    </form>

    <script> articlesN = 0; addArticle(); </script>
{{ end }}
