{{ define "title" }}{{ .Section.Name }}{{ end }}
{{ define "back_link" }}/storage{{ end }}

{{ define "content" }}
    <div>
        {{ if .Filter }}
            <span>Ricerca corrente: <i>{{ .Filter }}</i>. <a href=".?filter=">Annulla</a>.</span> <br>
        {{ else }}
            <button class="icon-text" hx-get="/storage/{{ .Section.SID }}/search"><i class="fas fa-search"></i> Cerca</button>
        {{ end }}

        <button class="icon-text" hx-get="/storage/{{ .Section.SID }}/edit"><i class="fas fa-edit"></i> Modifica sezione</button>

        <br>

        {{ range .Section.Articles }}
            <div class="storage-item" hx-get="/storage/{{ $.Section.SID }}/{{ .AID  }}/modifica">
                <input class="name" value="{{ .Name }}" readonly>
                {{ if .Expiration }} <input class="expiration" value="{{ .Expiration }}" type="date" readonly> {{ end }}
                {{ if .Quantity }} <input class="quantity" value="{{ .Quantity }}" type="quantity" readonly> {{ end }}
            </div>
        {{ else }}
            <i>Nessun articolo in dispensa</i>
        {{ end }}
    </div>

    <button class="icon-text" hx-get="/storage/{{ .Section.SID }}/add/"><i class="fas fa-plus"></i> Aggiungi</button>
{{ end }}
