{{ define "title" }}{{ t "STR_ADD_ARTICLES" . }}{{ end }}
{{ define "back_link" }}/storage/{{ .SID }}{{ end }}

{{ define "content" }}
    <form method="POST">
        <button class="icon" onclick="removeItem(event);"><i class="fas fa-minus"></i></button>
        <button class="icon" onclick="addItem(event);"><i class="fas fa-plus"></i></button>
        <button class="icon-text"><i class="fas fa-check"></i> {{ t "STR_CONFIRM" . }}</button>

        <div id="new-items">
            <div class="item article hidden">
                <input class="name" nametemplate="article-ID-name" type="text" placeholder="{{ t "STR_NAME" . }}">
                <input class="expiration" nametemplate="article-ID-expiration" type="date" placeholder="{{ t "STR_EXPIRATION" . }}">
                <input class="quantity" nametemplate="articleID-quantity" type="number" step="any" placeholder="{{ t "STR_QUANTITY" . }}">
            </div>
        </div>
    </form>

    <script>
        addItem();
    </script>
{{ end }}
