{{ define "title" }}{{ t "STR_SECTIONS" . }}{{ end }}
{{ define "back_link" }}/{{ end }}

{{ define "content" }}
    <div class="dashboard">
        {{ range .List }}
            <button hx-get="/storage/{{ .SID }}">
                <i class="fas fa-box"></i>
                <span>{{ .Name }}</span>
            </button>
        {{ end }}

        <button hx-get="/storage/new" class="transparent">
            <i class="fas fa-plus"></i>
            <span>{{ t "STR_NEW_SECTION" . }}</span>
        </button>
    </div>
{{ end }}
