{{ define "title" }}{{ t "STR_EDIT_ARTICLE" . }}{{ end }}
{{ define "back_link" }}/storage/{{ .SID }}{{ end }}

{{ define "content" }}
    <form method="POST">
        <div class="article {{ if .Article.IsExpired }} expired {{ end }}">
            <input class="name" placeholder="Nome" value="{{ .Article.Name }}" name="name">

            <input class="expiration" placeholder="Scadenza"
                {{ if .Article.Expiration }} value="{{ .Article.FormatExpiration }}" {{ end }}
                type="date" name="expiration">

            <input class="quantity" placeholder="Quantità"
                {{ if .Article.Quantity }} value="{{ .Article.Quantity }}" {{ end }}
                type="number" name="quantity">
        </div>

        {{ if .Article.Prev }}
            <button class="icon" hx-get="/storage/{{ .SID }}/{{ .Article.Prev }}"><i class="fas fa-chevron-left"></i></button>
        {{ end }}

        <button class="icon-text" hx-post="/storage/{{ .SID }}/{{ .Article.AID }}/delete" hx-push-url="false">
            <i class="fas fa-trash"></i> {{ t "STR_DELETE" . }}
        </button>

        <button class="icon-text" hx-push-url="false">
            <i class="fas fa-check"></i> {{ t "STR_SAVE" . }}
        </button>

        {{ if .Article.Next }}
            <button class="icon" hx-get="/storage/{{ .SID }}/{{ .Article.Next }}"><i class="fas fa-chevron-right"></i></button>
        {{ end }}
    </form>
{{ end }}
