{{ define "title" }}{{ t "STR_EDIT_SECTION" . }}{{ end }}
{{ define "back_link" }}/storage/{{ .Section.SID }}{{ end }}

{{ define "content" }}
    <b>{{ t "STR_NAME" . }}</b>
    <form method="POST">
        <input type="text" name="name" value="{{ .Section.Name }}"required> <br>
        <button class="icon-text"><i class="fas fa-check"></i> {{ t "STR_SAVE" . }}</button>
    </form>

    <br>

    <b>{{ t "STR_DELETE" . }}</b>
    <div id="pre-delete">
        <button class="icon-text" onclick="swapButtons();"><i class="fas fa-trash"></i> {{ t "STR_DELETE" . }}</button>
    </div>
    <div id="post-delete" hidden>
        {{ t "STR_DELETE_SECTION_TEXT" . }} <br>
        <button class="icon-text" hx-post="/storage/{{ .Section.SID }}/delete" hx-push-url="false">
            <i class="fas fa-check"></i> {{ t "STR_CONFIRM" . }}
        </button>
    </div>
{{ end }}
