{{ define "title" }}{{ t "STR_EDIT_ARTICLE" . }}{{ end }}
{{ define "back_link" }}/storage/{{ .SID }}{{ end }}

{{ define "content" }}
    <form method="POST">
        <div class="article {{ if .Article.IsExpired }} expired {{ end }}" onchange="swapContent();">
            <input class="name" placeholder="Nome" value="{{ .Article.Name }}" name="name">

            <input class="expiration" placeholder="Scadenza"
                {{ if .Article.Expiration }} value="{{ .Article.FormatExpiration }}" {{ end }}
                type="date" name="expiration">

            <input class="quantity" placeholder="Quantità"
                {{ if .Article.Quantity }} value="{{ .Article.Quantity }}" {{ end }}
                type="number" step="any" name="quantity">
        </div>

        <button class="icon pre-swap" hx-get="/storage/{{ .SID }}/{{ .Article.Prev }}"
            {{ if not .Article.Prev }} disabled> <i class="fas"></i>
            {{ else }} > <i class="fas fa-chevron-left"></i> {{ end }}
        </button>

        <button class="icon-text pre-swap" hx-post="/storage/{{ .SID }}/{{ .Article.AID }}/delete" hx-push-url="false">
            <i class="fas fa-trash"></i> {{ t "STR_DELETE" . }}
        </button>

        <button class="icon-text post-swap hidden" hx-get="/storage/{{ .SID }}/{{ .Article.AID }}" hx-push-url="false">
            <i class="fas fa-undo"></i> {{ t "STR_CANCEL" . }}
        </button>

        <button class="icon-text post-swap hidden" hx-push-url="false">
            <i class="fas fa-check"></i> {{ t "STR_SAVE" . }}
        </button>

        <button class="icon pre-swap" hx-get="/storage/{{ .SID }}/{{ .Article.Next }}"
            {{ if not .Article.Next }} disabled> <i class="fas"></i>
            {{ else }} > <i class="fas fa-chevron-right"></i> {{ end }}
        </button>
    </form>
{{ end }}
