{{ define "title" }}{{ .Section.Name }}{{ end }}
{{ define "back_link" }}/storage{{ end }}

{{ define "content" }}
    <div>
        {{ if .Search }}
            <span>
                {{ t "STR_CURRENT_SEARCH" . }}: "<i>{{ .Search }}</i>".
                <a href="/storage/{{ .Section.SID }}">{{ t "STR_CANCEL" . }}</a>
            </span>
        {{ else }}
            <button class="icon-text" hx-get="/storage/{{ .Section.SID }}/search"><i class="fas fa-search"></i> {{ t "STR_SEARCH_ARTICLES" . }}</button>
        {{ end }}

        <br>

        <button class="icon-text" hx-get="/storage/{{ .Section.SID }}/add"><i class="fas fa-plus"></i> {{ t "STR_ADD_ARTICLES" . }}</button>
        <button class="icon-text" hx-get="/storage/{{ .Section.SID }}/edit"><i class="fas fa-edit"></i> {{ t "STR_EDIT_SECTION" . }}</button>

        <br>

        {{ range .Section.Articles }}
            <div class="article {{ if .IsExpired }} expired {{ end }}" hx-get="/storage/{{ $.Section.SID }}/{{ .AID  }}">
                <input class="name" value="{{ .Name }}" readonly>
                {{ if .Expiration }} <input class="expiration" value="{{ .FormatExpiration }}" type="date" readonly> {{ end }}
                {{ if .Quantity }} <input class="quantity" value="{{ .Quantity }}" type="quantity" readonly> {{ end }}
            </div>
        {{ else }}
            <i>{{ t "STR_SECTION_EMPTY" . }}</i>
        {{ end }}
    </div>
{{ end }}
