{% extends "templates/base.html" %}

{% set title = 'Modifica menù' %}

{% set back_link = '/menu/' + str(menu.mid) + '/' %}

{% block content %}
    <form method="POST">
        <div class="menu-day">
            <b>Nome</b> <br>
            <input type="text" value="{{ menu.mid }}" name="name">
        </div>

        <br>

        {% set i = namespace(d=0) %}
        {% set entries = menu.menu.split(';') %}
        {% for day_name in ["Lunedì", "Martedì", "Mercoledì", "Giovedì", "Venerdì", "Sabato", "Domenica"] %}
            <div class="menu-day">
                <b>{{ day_name }}</b>
                <textarea name="entry-{{ i.d }}">{{ entries[i.d] }}</textarea> {% set i.d = i.d + 1 %}
                <textarea name="entry-{{ i.d }}">{{ entries[i.d] }}</textarea> {% set i.d = i.d + 1 %}
            </div>
        {% endfor %}

        <button class="icon-text"><i class="fas fa-check"></i> Salva</button>
    </form>

    <button class="icon-text" hx-post="/menu/{{ menu.mid }}/elimina"><i class="fas fa-trash-alt"></i> Elimina menù</button>
{% endblock %}
