{% extends "base.html" %}

{% set title = "Modifica Men&ugrave;" %}

{% block imports %} <script src="{{ url_for('static', filename='js/menu.js') }}"></script> {% endblock %}

{% block content %}
    <form method="POST" autocomplete="off">
        <div class="buttons-line">
            <button title="Numero" class="icon" type="button" disabled>{{ menu.mid }}</button>
            <button title="Annulla" class="icon" onclick="showMessage(true, 'Sei sicuro di voler annullare le modifiche?', handler=(() => location.href = '/menu'));" type="button"><i class="fas fa-undo"></i></button>
            <button title="Elimina" class="icon" onclick="showMessage(true, 'Sei sicuro di voler eliminare questo men&ugrave;?', handler=deleteMenu);" type="button"><i class="fas fa-trash-alt"></i></button>
            <button title="Conferma" class="icon" onclick="saveMenu();"><i class="fas fa-check"></i></button>
        </div>

        <textarea id="data" name="data" hidden></textarea>

        {% set i = namespace(d=0) %}
        {% set entries = menu.menu.split(';') %}
        {% for day_name in ["Luned&igrave;", "Marted&igrave;", "Mercoled&igrave;", "Gioved&igrave;", "Venerd&igrave;", "Sabato", "Domenica"] %}
            <div class="menu-day">
                <b>{{ day_name | safe }}</b>
                <textarea id="entry-{{ i.d }}">{{ entries[i.d] }}</textarea> {% set i.d = i.d + 1 %}
                <textarea id="entry-{{ i.d }}">{{ entries[i.d] }}</textarea> {% set i.d = i.d + 1 %}
            </div>
        {% endfor %}
    </form>
{% endblock %}
