{% extends "base.html" %}

{% set title = "Modifica men&ugrave;" %}

{% set back_link = '/menu/' + str(menu.mid) %}

{% block imports %} <script src="{{ url_for('static', filename='js/menu.js') }}"></script> {% endblock %}

{% block content %}
    <form method="POST" autocomplete="off">
        <textarea id="data" name="data" hidden></textarea>

        <div class="menu-day">
            <b>Nome</b> <br>
            <input type="text" value="{{ menu.mid }}">
        </div>

        <br>

        {% set i = namespace(d=0) %}
        {% set entries = menu.menu.split(';') %}
        {% for day_name in ["Luned&igrave;", "Marted&igrave;", "Mercoled&igrave;", "Gioved&igrave;", "Venerd&igrave;", "Sabato", "Domenica"] %}
            <div class="menu-day">
                <b>{{ day_name | safe }}</b>
                <textarea id="entry-{{ i.d }}">{{ entries[i.d] }}</textarea> {% set i.d = i.d + 1 %}
                <textarea id="entry-{{ i.d }}">{{ entries[i.d] }}</textarea> {% set i.d = i.d + 1 %}
            </div>
        {% endfor %}

        <button title="Elimina" class="icon-text" onclick="showConfirm('Sei sicuro di voler eliminare questo men&ugrave;?', deleteMenu);" type="button"><i class="fas fa-trash-alt"></i> Elimina men&ugrave;</button>
        <button title="Conferma" class="icon-text" onclick="saveMenu();"><i class="fas fa-check"></i> Salva</button>
    </form>
{% endblock %}
