{% extends "base.html" %}

{% set title = "Men&ugrave; " + str(menu.mid) %}

{% set back_link = '/menu/' %}

{% block content %}
    {% set i = namespace(d=0) %}
    {% set entries = menu.menu.split(';') %}
    {% for day_name in ["Luned&igrave;", "Marted&igrave;", "Mercoled&igrave;", "Gioved&igrave;", "Venerd&igrave;", "Sabato", "Domenica"] %}
        <div class="menu-day">
            <b>{{ day_name | safe }}</b>
            <textarea readonly>{{ entries[i.d] }}</textarea> {% set i.d = i.d + 1 %}
            <textarea readonly>{{ entries[i.d] }}</textarea> {% set i.d = i.d + 1 %}
        </div>
    {% endfor %}

    <button class="icon-text" type="button"><i class="fas fa-bookmark"></i> Fissa</button>
    <button class="icon-text" onclick="location.href='/menu/{{ menu.mid }}/modifica';" type="button"><i class="fas fa-edit"></i> Modifica</button>
    <button class="icon-text" onclick="location.href='/menu/{{ menu.mid }}/clona';" type="button"><i class="fas fa-clone"></i> Clona</button>
{% endblock %}
