{% extends "templates/base.html" %}

{% set title = 'Menù ' + str(menu.mid) %}

{% set back_link = '/menu/' %}

{% block content %}
    {% set i = namespace(d=0) %}
    {% set entries = menu.menu.split(';') %}
    {% for day_name in ["Lunedì", "Martedì", "Mercoledì", "Giovedì", "Venerdì", "Sabato", "Domenica"] %}
        <div class="menu-day">
            <b>{{ day_name }}</b>
            <textarea readonly>{{ entries[i.d] }}</textarea> {% set i.d = i.d + 1 %}
            <textarea readonly>{{ entries[i.d] }}</textarea> {% set i.d = i.d + 1 %}
        </div>
    {% endfor %}

    <button class="icon-text" hx-post="/menu/{{ menu.mid }}/fissa/"><i class="fas fa-bookmark"></i> Fissa</button>
    <button class="icon-text" hx-get="/menu/{{ menu.mid }}/modifica/"><i class="fas fa-edit"></i> Modifica</button>
    <button class="icon-text" hx-post="/menu/{{ menu.mid }}/clona/"><i class="fas fa-clone"></i> Clona</button>
{% endblock %}
