{% extends "templates/base.html" %}

{% set title = name %}

{% set back_link = '/dispensa/' %}

{% block content %}
    <div>
        {% if filter %}
            <span>Ricerca corrente: <i>{{ filter }}</i>. <a href=".?nome=">Annulla</a>.</span> <br>
        {% else %}
            <button class="icon-text" hx-get="/dispensa/{{ sid }}/cerca"><i class="fas fa-search"></i> Cerca</button>
        {% endif %}

        {% if not storage %}
            <i>Nessun articolo in dispensa</i>
        {% else %}
            {% for item in storage %}
                <div class="storage-item" hx-get="/dispensa/{{ sid }}/{{ aid }}/modifica">
                    <input class="name" value="{{ item.name }}" readonly>
                    {% if item.expiration %} <input class="expiration" value="{{ item.expiration }}" type="date" readonly> {% endif %}
                    {% if item.quantity %} <input class="quantity" value="{{ item.quantity }}" type="quantity" readonly> {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <button class="icon-text" hx-get="/dispensa/{{ sid }}/aggiungi/"><i class="fas fa-plus"></i> Aggiungi</button>
{% endblock %}
