{% extends "templates/base.html" %}

{% set title = 'Lista della spesa' %}

{% set back_link = '/' %}

{% block content %}
    <div class="shopping-list">
        {% if not list %}
            <span id="empty-label">La lista è vuota.</span>
        {% else %}
            {% for entry in list %}
                <div class="shopping-item" onclick="clickShoppingItem(event);">
                    <input type="checkbox" id="entry-{{ entry.eid }}" readonly>
                    <label for="entry-{{ entry.eid }}">{{ entry.name }}</label>
                </div>
            {% endfor %}
        {% endif %}

        <button class="icon-text" hx-get="/spesa/aggiungi/"><i class="fas fa-plus"></i> Aggiungi articoli</button>
        <button class="icon-text" hx-post="/spesa/svuota/"><i class="fas fa-trash"></i> Elimina spuntati</button>
    </div>
{% endblock %}
