<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">

        <title>{{ (meta_title or title) | safe }}</title>

        <meta http-equiv="content-type" content="text/html">
        <meta name="lang" content="it">
        <meta name="author" content="Parri Gianluca">
        <meta name="owner" content="Parri Gianluca">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script type="application/ld+json">
            {
                "@context" : "https://schema.org",
                "@type" : "WebSite",
                "name" : "CucinAssistant",
                "alternateName" : "cucinassistant",
                "url" : "{{ config['Environment']['Address'] }}"
            }
        </script>

        <link rel="manifest" href="{{ url_for('static', filename='meta/manifest.json') }}">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Satisfy&display=swap">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sakura.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/portrait.css') }}" media="(orientation:portrait)">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/landscape.css') }}" media="(orientation:landscape)">

        <script src="https://kit.fontawesome.com/ca194095ec.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>
        <script src="{{ url_for('static', filename='js/messages.js') }}"></script>

        {% block imports %} {% endblock %}

        {# <script>
            if (typeof navigator.serviceWorker !== 'undefined') {
                navigator.serviceWorker.register("/serviceworker.js");
            }
        </script> #}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <script>
                    $(window).on('load', function () {
                        {% for message in get_flashed_messages() %}
                            showAlert("{{ message | safe }}");
                        {% endfor %}
                    });
                </script>
            {% endif %}
        {% endwith %}
    </head>

    <body>
        <nav>
            <span id="logo">CucinAssistant</span>
        </nav>

        <main>
            {% if back_link %} <a href="{{ back_link }}">Indietro</a> {% endif %}

            <h1>{{ title | safe }}</h1>

            {% block content %} {% endblock %}
        </main>

        <footer>
            CucinAssistant &copy; 2023, Gianluca Parri &bullet; <a href="/info">Ulteriori informazioni</a>
        </footer>
    </body>
</html>
