{% extends "base.html" %}

{% set title = 'Home' %}

{% block imports %} <style> #home { z-index: -1; } </style> {% endblock %}

{% block content %}
    <div class="links">
        <button onclick="location.href='/menu/';"><i class="fas fa-hamburger"></i> Men&ugrave;</button> <br>
        <button onclick="location.href='/dispensa/'"><i class="fas fa-box"></i> Dispensa</button> <br>
        <button onclick="location.href='/spesa/'"><i class="fas fa-shopping-basket"></i> Lista della spesa</button> <br>
        <button onclick="location.href='/idee/'"><i class="fas fa-lightbulb"></i> Idee</button> <br>
    </div>
{% endblock %}
