{% extends "base.html" %}

{% block imports %} <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}"> {% endblock %}

{% set meta_title = 'CucinAssistant' %}
{% set title = "Bentornato, " + get_username() + "!" %}

{% block content %}
    <div class="dashboard">
        <button onclick="location.href='/menu/';">
            <i class="fas fa-utensils"></i>
            <span>Men&ugrave;</span>
        </button>

        <button onclick="location.href='/dispensa/'">
            <i class="fas fa-box"></i>
            <span>Dispensa</span>
        </button>

        <button onclick="location.href='/spesa/'">
            <i class="fas fa-shopping-basket"></i>
            <span>Lista della spesa</span>
        </button>

        <button onclick="location.href='/account/impostazioni/'" class="transparent">
            <i class="fas fa-cog"></i>
            <span>Impostazioni</span>
        </button>
    </div>
{% endblock %}
