{% extends "base.html" %}

{% set title = "Menu" %}

{% block imports %}
    <script>
        window.onload = function() {
            if ($("body").height() > $(window).height()) {
                $('.buttons-line').clone().appendTo('form');
            }
        };
    </script>
{% endblock %}

{% block content %}
    {% set menu = get_menu() %}

    <form method="POST" autocomplete="off">
        <div class="buttons-line">
            {% if not edit %}
                <button class="icon" type="button"><i class="fas fa-trash-alt"></i></button>
                <button class="icon" onclick="location.href='?modifica';" type="button"><i class="fas fa-edit"></i></button>
                <button class="icon" type="button"><i class="fas fa-step-forward"></i></button>
            {% else %}
                <button class="icon" onclick="if (confirm('Sei sicuro di voler annullare le modifiche?')) location.href = '.';" type="button"><i class="fas fa-undo"></i></button>
                <button class="icon" onclick="if (confirm('Sei sicuro di voler cancellare tutto?')) $('textarea').val('');" type="button"><i class="fas fa-trash-alt"></i></button>
                <button class="icon" onclick="return confirm('Sei sicuro di voler sovrascrivere il menu precedente?');"><i class="fas fa-check"></i></button>
            {% endif %}
        </div>

        {% set i = namespace(d=0) %}
        {% for day_name in ["Luned&igrave;", "Marted&igrave;", "Mercoled&igrave;", "Gioved&igrave;", "Venerd&igrave;", "Sabato", "Domenica"] %}
            <div class="menu-day">
                <b>{{ day_name | safe }}</b>
                <textarea {{ 'disabled' if not edit }} name="item-{{ i.d }}">{{ menu[i.d] }}</textarea> {% set i.d = i.d + 1 %}
                <textarea {{ 'disabled' if not edit }} name="item-{{ i.d }}">{{ menu[i.d] }}</textarea> {% set i.d = i.d + 1 %}
            </div>
        {% endfor %}
    </form>
{% endblock %}
