{% extends "base.html" %}

{% set title = 'Dispensa' %}

{% block imports %}
    <script>
        function search() {
            let query = prompt('Parola chiave').toLowerCase();
            if (query) {
                for (input of $('input.name')) {
                    if (input.value.toLowerCase().includes(query)) {
                        $(input).get(0).scrollIntoView();
                        break;
                    }
                }
            }
        }

        {% if add %}
            let i = 0;

            function add_element() {
                let div = `<div class="new-element item">` +
                            `<input class="name" type="text" placeholder="Nome" required>` +
                            `<input class="quantity" type="number" placeholder="Quantit&agrave;">` +
                            `<input class="expiration" type="text" placeholder="Scadenza">` +
                        `</div>`;

                $('#new-elements').append(div);
                i++;
            }

            function remove_element() {
                if (i > 1) {
                    $('#new-elements').find('div:last').remove();
                    i--;
                }
            }
        {% elif edit %}
            function editItem(item, sign) {
                let delta = prompt('Inserisci la quantita da ' + ((sign == '+') ? 'aggiungere' : 'sottrarre'));
                if (delta) {
                    $('textarea').text(item + ';' + sign + delta);
                    document.forms[0].submit();
                }
            }
        {% endif %}

        window.onload = function() {
            {% if add %}
                add_element();

                document.forms[0].onsubmit = function() {
                    let text = '';
                    for (div of $('.new-element')) {
                        if (text) text += '\n';
                        text += div.children[0].value + ';';
                        if (div.children[1].value) text += div.children[1].value;
                        text += ';';
                        if (div.children[2].value) text += div.children[2].value;
                    }

                    $('textarea').text(text);
                    $('input').remove();
                    return true;
                };

            {% elif del %}
                document.forms[0].onsubmit = function() {
                    let text = '';
                    for (input of $('input[type=checkbox]')) if (input.checked) text += '\n' + input.id;
                    $('textarea').text(text);
                    $('input').remove();
                    return true;
                };
            {% endif %}

            if ($("body").height() > $(window).height()) {
                $('.buttons').clone().prependTo('form');
            }
        };
    </script>
{% endblock %}

{% block content %}
    {% set storage = get_storage() %}

    <form method="POST">
        {% if not add %}
            <div>
                {% for item in storage %}
                    <div class="item">
                        {% if del %} <input type="checkbox" id="{{ item[0] }}" autocomplete="off"> {% endif %}
                        <input class="name" value="{{ item[1] }}" disabled>
                        {% if item[3] %} <input class="expiration" value="{{ item[3] }}" disabled> {% endif %}
                        {% if item[2] %} <input class="quantity" value="{{ item[2] }}" disabled> {% endif %}

                        {% if edit %}
                            <button onclick="editItem({{ item[0] }}, '-');" type="button">-</button>
                            <button onclick="editItem({{ item[0] }}, '+');" type="button">+</button>
                        {% endif %}
                    </div>
                {% else %}
                    <i>La lista &egrave; vuota.</i>
                {% endfor %}
            </div>
        {% endif %}

        {% if add %}
            <div id="new-elements">
                <textarea name="add" hidden></textarea>
            </div>
        {% elif edit %}
            <textarea name="edit" hidden></textarea>
        {% elif del %}
            <textarea name="remove" hidden></textarea>
        {% endif %}

        <div class="buttons">
            {% if add %}
                <button class="icon" onclick="if (confirm('Sei sicuro di voler annullare le modifiche?')) location.href = '.';" type="button"><i class="fas fa-undo"></i></button>
                <button class="icon" onclick="remove_element()" type="button"><i class="fas fa-minus"></i></button>
                <button class="icon" onclick="add_element()" type="button"><i class="fas fa-plus"></i></button>
                <button class="icon"><i class="fas fa-check"></i></button>
            {% else %}
                <button class="icon" id="search-button" onclick="search()" type="button"><i class="fas fa-search"></i></button>

                {% if edit %}
                    <button class="icon" onclick="location.href = '.';" type="button"><i class="fas fa-check"></i></button>
                {% elif del %}
                    <button class="icon" onclick="if (confirm('Sei sicuro di voler annullare le modifiche?')) location.href = '.';" type="button"><i class="fas fa-undo"></i></button>
                    <button class="icon" onclick="location.href = '.';" type="button"><i class="fas fa-check"></i></button>
                {% else %}
                    {% if storage %}
                        <button class="icon" onclick="location.href='?rimuovi';" type="button"><i class="fas fa-minus"></i></button>
                        <button class="icon" onclick="location.href='?modifica';" type="button"><i class="fas fa-edit"></i></button>
                    {% endif %}

                    <button class="icon" onclick="location.href='?aggiungi';" type="button"><i class="fas fa-plus"></i></button>
                {% endif %}
            {% endif %}
        </div>
    </form>
{% endblock %}
