{% extends "base.html" %}

{% set title = 'Aggiungi articoli' %}

{% block imports %}
    <script src="{{ url_for('static', filename='js/storage.js') }}"></script>
    <script> window.onload = function() { addInput(); } </script>
{% endblock %}

{% block content %}
    <form method="POST">
        <div class="buttons-line">
            <button title="Annulla" class="icon" onclick="showMessage(true, 'Sei sicuro di voler annullare le modifiche?', handler=(() => location.href = '.'));" type="button"><i class="fas fa-undo"></i></button>
            <button title="Rimuovi un elemento" class="icon" onclick="removeInput()" type="button"><i class="fas fa-minus"></i></button>
            <button title="Aggiungi un elemento" class="icon" onclick="addInput()" type="button"><i class="fas fa-plus"></i></button>
            <button title="Conferma" class="icon" onclick="saveAddData()"><i class="fas fa-check"></i></button>
        </div>

        <div id="new-elements"></div>

        <input id="data" name="data" hidden>
    </form>
{% endblock %}
