{% extends "base.html" %}


{% set title = 'Modifica articolo' %}

{% block imports %}
{% endblock %}

{% block content %}
    <form method="POST" autocomplete="off">
        <div class="buttons-line">
            <button title="Annulla" class="icon" onclick="location.href='..';" type="button"><i class="fas fa-undo"></i></button>
            <button title="Conferma" onclick="evaluateQuantity();" class="icon"><i class="fas fa-check"></i></button>
        </div>

        <div class="item">
            <input class="name" value="{{ prev.name }}">
            <input class="expiration" {% if prev.expiration %} value="{{ prev.expiration }}" {% else %} placeholder="Scadenza" {% endif %}>
            <input class="quantity" {% if prev.quantity %} value="{{ prev.quantity }}" {% else %} placeholder="Quantit&agrave;" {% endif %}>
        </div>
    </form>
{% endblock %}
