{% extends "base.html" %}

{% set title = 'Modifica dispensa' %}

{% block imports %} <script src="{{ url_for('static', filename='js/storage.js') }}"></script> {% endblock %}

{% block content %}
    {% if filter %} <span>Ricerca corrente: {{ filter }}</span> {% endif %}

    <form method="POST" autocomplete="off">
        <div class="buttons-line">
            {% if filter %}
                <button title="Rimuovi filtro" class="icon" onclick="location.href='/dispensa/modifica';" type="button"><i class="fas fa-search-minus"></i></button>
            {% else %}
                <button title="Cerca" class="icon" onclick="location.href='/dispensa/cerca?pagina=modifica';" type="button"><i class="fas fa-search"></i></button>
            {% endif %}
            <button title="Conferma" class="icon" onclick="location.href='/dispensa';" type="button"><i class="fas fa-check"></i></button>
        </div>

        <div>
            {% if not storage %}
                <i>La lista &egrave; vuota.</i>
            {% else %}
                {% for item in storage %}
                    <div class="item">
                        <input class="name selectable" value="{{ item.name }}" onclick="location.href='/dispensa/modifica/{{ item.aid }}'" readonly>
                        {% if item.expiration %} <input class="expiration" value="{{ item.expiration }}" readonly> {% endif %}
                        {% if item.quantity %} <input class="quantity" value="{{ item.quantity }}" readonly> {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </form>
{% endblock %}
