{{ define "title" }}{{ t "STR_EDIT_RECIPE" . }}{{ end }}
{{ define "back_link" }}/recipes/{{ .Recipe.RID }}{{ end }}

{{ define "content" }}
    <form method="POST">
        <div>
            <b>{{ t "STR_NAME" . }}</b> <br>
            <input name="name" value="{{ .Recipe.Name }}">
        </div> <br>

        <div>
            <b>{{ t "STR_STARS" . }}</b> <br>
            <input name="stars" type="number" min="0" max="5" step="1" value="{{ .Recipe.Stars }}">
        </div> <br>

        <div>
            <b>{{ t "STR_INGREDIENTS" . }}</b> <br>
            <textarea name="ingredients">{{ .Recipe.Ingredients }}</textarea>
        </div>

        <div>
            <b>{{ t "STR_DIRECTIONS" . }}</b> <br>
            <textarea name="directions">{{ .Recipe.Directions }}</textarea>
        </div>

        <div>
            <b>{{ t "STR_NOTES" . }}</b> <br>
            <textarea name="notes">{{ .Recipe.Notes }}</textarea>
        </div>
    </form>

    <b>{{ t "STR_DELETE_RECIPE" . }}</b>

    <div class="pre-swap">
        <button class="icon-text" onclick="swapContent();"><i class="fas fa-trash"></i> {{ t "STR_DELETE" . }}</button>
    </div>
    <div class="post-swap hidden">
        {{ t "STR_DELETE_RECIPE_TEXT" . }} <br>
        <button class="icon-text" hx-post="/recipes/{{ .Recipe.RID }}/delete" hx-push-url="false">
            <i class="fas fa-check"></i> {{ t "STR_CONFIRM" . }}
        </button>
    </div>
{{ end }}
