{% extends "templates/dashboard.html" %}

{% set title = 'Menù' %}

{% set back_link = '/' %}

{% set ns = namespace(items = []) %}
{% for m in menus %}
    {% set ns.items = ns.items + [{
        'name': 'Menù ' + str(m),
        'icon': 'fa-utensils' if m != 1 else 'fa-bookmark',
        'target': '/menu/' + str(m) + '/'
    }] %}
{% endfor %}

{% set items = ns.items + [{
    'name': 'Nuovo menù',
    'icon': 'fa-plus',
    'transparent': true,
    'target': '/menu/nuovo/',
    'method': 'post'
}] %}
