{{ define "title" }}{{ t "STR_DELETE_USER" . }}{{ end }}
{{ define "back_link" }}/user/settings{{ end }}

{{ define "content" }}
    <form method="POST">
        <span>
            {{ if .Warning }}
                {{ t "STR_DELETE_USER_TEXT1" . }} <br>
            {{ else }}
                {{ t "STR_DELETE_USER_TEXT2" . }} <br>
            {{ end }}
        </span> <br>

        <input name="token" value="{{ .Token }}" hidden>
        <button class="icon-text"><i class="fas fa-check"></i> {{ t "STR_CONFIRM" . }}</button>
    </form>
{{ end }}
