{{ define "title" }}Reset password{{ end }}
{{ define "back_link" }}/user/signin{{ end }}

{{ define "content" }}
    <form method="POST" onsubmit="comparePasswords();">
        <input value="{{ .Token }}" name="token" hidden>

        <label for="email">Email</label> <br>
        <input type="email" name="email" required> <br>

        <label for="password-1">Nuova password</label> <br>
        <input type="password" name="password" id="password-1" required> <br>

        <label for="password-2">Ripeti (nuova) password</label> <br>
        <input type="password" id="password-2" required> <br>

        <button class="icon-text"><i class="fas fa-check"></i> Conferma</button>
    </form>

    <script> $('nav i').remove(); </script>
{{ end }}
