{{ define "title" }}{{ t "STR_RESET_PASSWORD" . }}{{ end }}
{{ define "back_link" }}/user/signin{{ end }}

{{ define "content" }}
    <form method="POST" onsubmit="comparePasswords();">
        <input value="{{ .Token }}" name="token" hidden>

        <label for="email">{{ t "STR_EMAIL" . }}</label> <br>
        <input type="email" name="email" required> <br>

        <label for="password-1">{{ t "STR_NEW_PASSWORD" . }}</label> <br>
        <input type="password" name="new-password" id="password-1" required> <br>

        <label for="password-2">{{ t "STR_REPEAT_PASSWORD" . }}</label> <br>
        <input type="password" id="password-2" required> <br>

        <button class="icon-text"><i class="fas fa-check"></i> {{ t "STR_CONFIRM" . }}</button>
    </form>

    <script>
        $('nav i').remove();
        unmatchingPasswords = '{{ t "MSG_UNMATCHING_PASSWORDS" . }}';
    </script>
{{ end }}
