{{ define "title" }}{{ t "STR_SETTINGS" . }}{{ end }}
{{ define "back_link" }}/{{ end }}

{{ define "content" }}
    <div class="dashboard">
        <button hx-post="/user/signout">
            <i class="fas fa-sign-out-alt"></i>
            <span>{{ t "STR_LOGOUT" . }}</span>
        </button>

        <button hx-get="/user/change_username">
            <i class="fas fa-user"></i>
            <span>{{ t "STR_CHANGE_USERNAME" . }}</span>
        </button>

        <button hx-get="/user/change_email">
            <i class="fas fa-envelope"></i>
            <span>{{ t "STR_CHANGE_EMAIL" . }}</span>
        </button>

        <button hx-get="/user/change_password">
            <i class="fas fa-key"></i>
            <span>{{ t "STR_CHANGE_PASSWORD" . }}</span>
        </button>

        <button hx-get="/user/delete_1">
            <i class="fas fa-trash"></i>
            <span>{{ t "STR_DELETE_USER" . }}</span>
        </button>
    </div>
{{ end }}
