{{ define "title" }}{{ t "STR_SIGNIN" . }}{{ end }}

{{ define "content" }}
    <form method="POST">
        <label for="username">{{ t "STR_USERNAME" . }}</label> <br>
        <input type="text" name="username" id="username" required> <br>

        <label for="password">{{ t "STR_PASSWORD" . }}</label> <br>
        <input type="password" name="password" id="password" required> <br>

        <button class="icon-text"><i class="fas fa-sign-in-alt"></i> {{ t "STR_SIGNIN" . }}</button> <br>

        <a hx-get="/user/forgot_password">{{ t "STR_FORGOT_PASSWORD" . }}</a> <br>
        <a hx-get="/user/signup">{{ t "STR_SIGNUP" . }}</a>
    </form>

    <script>
        disableNavigation();
    </script>
{{ end }}
