.item {
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto;
    border-left: 3px solid var(--orange);
    padding-left: 5px;
}

input.name { width: 80vw; }
input.quantity { width: 40vw; }
input.expiration { width: 50vw; }
