<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">

        {{ define "title" }}CucinAssistant{{ end }}
        <title>{{ template "title" . }}</title>

        <meta http-equiv="content-type" content="text/html">
        <meta name="lang" content="it">
        <meta name="author" content="Parri Gianluca">
        <meta name="owner" content="Parri Gianluca">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="manifest" href="/assets/manifest.json">

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Satisfy&display=swap" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/sakura.css">
        <link rel="stylesheet" href="/assets/style.css">

        <script src="https://unpkg.com/htmx.org@2.0.0" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/response-targets.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/ca194095ec.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="/assets/scripts.js" crossorigin="anonymous"></script>

        <script> if (typeof navigator.serviceWorker !== 'undefined') { navigator.serviceWorker.register('/sw.js'); } </script>
    </head>

    <body hx-ext="response-targets" hx-target="#body-container" hx-target-error="#error-container" hx-boost="true" hx-push-url="true">
        <div>
            <nav>
                <span><i id="home" class="fas fa-home" hx-get="/"></i></span>
                <span id="logo">CucinAssistant</span>
                <span><i id="lang" class="fas fa-language" hx-get="/lang"></i></span>
            </nav>

            <main id="body-container">
                {{ block "body" . }}{{ end }}
            </main>

            <div id="error-container">
                {{ block "error" . }}{{ end }}
            </div>

            <footer>
                CucinAssistant &copy; 2023, Gianluca Parri <br>
                <a hx-get="/info">{{ t "STR_INFO" . }}</a> &bullet;
                <a href="https://cucinassistant.com/tutorial.pdf" hx-disable>{{ t "STR_TUTORIAL" . }}</a>
            </footer>
        </div>
    </body>
</html>
