{{ define "error" }}
    <message>
        <content>
            <p>{{ .Message }}</p>

            <div>
                <button class="icon-text"
                    hx-on:click="$(this).parents('message').remove();"
                    {{ if .Path }} hx-get="{{ .Path }}" {{ else if not .IsHx }} hx-get="/" {{ end }}
                    hx-push-url="true"
                    autofocus>

                    <i class="fas fa-check"></i> {{ t "STR_OK" . }}
                </button>
            </div>
        </content>
    </message>
{{ end }}
