:root {
    --red: #d50000;
    --orange: #f90;
    --background: #f9f9f9;
    --border: #e1e1e1;
    --text: #4a4a4a;
    --cursive: 'Satisfy', cursive;
    --sansserif: 'Inclusive Sans', sans-serif;
}



a, a:visited {
    color: var(--orange);
    text-decoration: underline;
}

a:hover {
    color: var(--red);
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    font-size: 2rem;
    font-family: var(--sansserif);

    background-color: var(--background);
    color: var(--text);
}

button {
    display: inline-block;

    margin: 5px 0;
    border: 2px solid var(--text);
    border-radius: 8px;
    padding: 5px 10px;

    text-align: center;
    text-decoration: none;

    background-color: var(--red);
    color: var(--background);
}

button:hover {
    background-color: var(--orange);
    border-color: var(--text);
    cursor: pointer;
}

button:disabled:hover {
    cursor: default;
}

button.icon {
    width: 50px;
    height: 50px;
    color: white;
}

button.icon-text {
    height: 50px;
    color: white;
}

footer {
    width: 100%;
    padding: 20px 30px;
    box-sizing: border-box;

    color: white;
    background-color: var(--red);
    font-size: 80%;
}

footer a:hover {
    color: white;
    cursor: pointer;
}

h1, h2, h3 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

h1 {
    margin-top: 1vh;
    margin-bottom: 3vh;

    display: flex;
    align-items: center;

    font-size: 2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

html {
    height: 100%;
    font-size: 60%;
    font-family: var(--sansserif);
}

input, select, textarea {
    margin: 5px 0 10px 0;
    border: 1px solid var(--border);
    border-radius: 4px;
    padding: 6px 10px;
    color: var(--text);
    background-color: var(--border);
}

input:focus, select:focus, textarea:focus {
    border: 1px solid var(--red);
    outline: 0;
}

label {
    margin-bottom: 0.5rem;
    display: inline;
    font-weight: normal;
}

li {
    margin-bottom: 0.4em;
}

main {
    flex-grow: 1;
}

nav {
    width: 100%;
    height: 90px;
    padding: 5px 0;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    background-color: var(--red);
}

p {
    margin-top: 0px;
    margin-bottom: 1.5rem;
}

textarea {
    margin-bottom: 0;
    min-height: 70px;
    resize: none;
}

textarea.big-text {
    min-height: 130px;
}

ul {
    margin-top: 0;
    margin-bottom: 2.5rem;
    padding-left: 1.4em;
}



.article {
    margin: 10px auto;
    display: flex;
    border-left: 3px solid var(--orange);
    padding-left: 5px;
}

.article, .article *:hover {
    cursor: pointer;
}

.article.expired {
    border-color: var(--red);
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
}

.dashboard button {
    background-color: var(--orange);
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.dashboard button:enabled:hover {
    cursor: pointer;
    background-color: var(--red);
}

.dashboard button.transparent {
    background-color: transparent;
    border-style: dashed;
    color: var(--text);
}

.dashboard button.transparent:enabled:hover {
    background-color: rgba(0 0 0 / 20%);
}

.dashboard button i {
    display: block;
    font-size: 1.8em;
    margin-bottom: .3em;
}

.dashboard button span {
    display: block;
    white-space: collapse;
    overflow-wrap: anywhere;
}

.empty-icon {
    opacity: 0;
}

.hidden {
    display: none !important;
}

.htmx-request#loader-container {
    display: flex;
}

.jserror {
    color: var(--red);
}

.meal-edit {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.meal-edit button {
    margin-right: 10px;
}

.menu-day {
    border-left: 3px solid var(--orange);
    margin: 15px auto;
    padding: 5px 0 10px 10px;

    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}

.menu-day b {
    width: 100%;
    display: block;
}

.message {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0 0 0 / 60%);
    overflow: hidden;
}

.message > .content {
    width: 60%;
    position: absolute;
    top: 30%;
    left: 20%;
    background-color: var(--orange);
    border-radius: 10px;
    padding: 50px 30px;
    box-sizing: border-box;
}

.message > .content > p {
    margin-bottom: 30px;
}

.message button {
    margin: 5px;
}

.shopping-item {
    display: flex;
}

.shopping-list *:not(#empty-label):hover {
    cursor: pointer;
}

.shopping-list input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.shopping-list label {
    margin-bottom: 0px;
    margin-left: 8px;
}



#back {
    opacity: 0.5;
    padding-right: 10px;
}

#back:hover {
    cursor: pointer;
    opacity: 1;
}

#lang, #home {
    font-size: 35px;
    color: white;
    padding: 15px;
    position: relative;
}

#lang:hover, #home:hover {
    cursor: pointer;
}

#languages {
    display: block;
    width: 30vmax;
}

#loader {
    width: 50px;
    height: 50px;

    display: inline-block;

    border: 5px solid var(--orange);
    border-bottom-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;

    animation: loader .7s linear infinite;
}

#loader-container {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    background-color: rgba(0, 0, 0, 0.6);

    display: none;
    align-items: center;
    justify-content: center;
}

#logo {
    font-size: 45px;
    color: white;
    font-family: var(--cursive);
    text-shadow: var(--orange) 2px 3px 2px;
}

#stars {
    font-size: 1.5em;
    display: flex;
    margin-bottom: 10px;
}



@keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (orientation: landscape) {
    .article input.expiration {
        width: 15vw;
    }

    .article input.name {
        width: 25vw;
    }

    .article input.quantity {
        width: 10vw;
    }

    .article input+input, .article input+select {
        margin-left: 5px;
    }

    .dashboard button {
        height: 12vw;
        width: 12vw;
    }
    
    textarea {
        width: 40%;
    }

    main {
        margin: 30px;
        width: 50em;
    }
}

@media (orientation: portrait) {
    .article {
        flex-direction: column;
        align-items: flex-start;
    }

    .article input.expiration {
        width: 50vw;
    }

    .article input.name {
        width: 80vw;
    }

    .article input.quantity {
        width: 30vw;
    }

    .dashboard button {
        height: 18.5vh;
        width: 18.5vh;
    }

    textarea {
        width: 100%;
    }

    main {
        margin: 13px;
        width: 100%;
    }
}

@media print {
    body { background-color: white; }
    footer { background-color: white; color: var(--text); }
    main { margin: 0; }
    nav { display: none; }
    #back, button { display: none !important; }
    #footer-links { display: none; }
    #loader-container { display: none !important; }
}
