{{ define "title" }}Cambio password{{ end }}
{{ define "back_link" }}/user/settings{{ end }}

{{ define "content" }}
    <form method="POST" onsubmit="comparePasswords();">
        <label for="password-old">Password attuale</label> <br>
        <input type="password" name="old-password" id="password-old" required> <br>

        <label for="password-1">Nuova password</label> <br>
        <input type="password" name="new-password" id="password-1" required> <br>

        <label for="password-2">Ripeti (nuova) password</label> <br>
        <input type="password" id="password-2" required> <br>

        <button class="icon-text"><i class="fas fa-check"></i> Conferma</button>
    </form>
{{ end }}
