{{ define "title" }}Cambio password{{ end }}
{{ define "back_link" }}/user/settings{{ end }}

{{ define "content" }}
    <form method="POST">
        <label for="old">Password attuale</label> <br>
        <input type="password" name="password" required> <br>

        <label for="password1">Nuova password</label> <br>
        <input type="password" name="password-new1" required> <br>

        <label for="password2">Ripeti (nuova) password</label> <br>
        <input type="password" name="password-new2" required> <br>

        <button class="icon-text"><i class="fas fa-check"></i> Conferma</button>
    </form>
{{ end }}
