{{ define "title" }}Reset password{{ end }}
{{ define "back_link" }}/user?action=signin{{ end }}

{{ define "content" }}
    <form method="POST">
        <input value="{{ .Token }}" name="token" hidden>

        <label for="email">Email</label> <br>
        <input type="email" name="email" required> <br>

        <label for="password1">Nuova password</label> <br>
        <input type="password" name="password" required> <br>

        <label for="password2">Ripeti (nuova) password</label> <br>
        <input type="password" name="password2" required> <br>

        <button class="icon-text"><i class="fas fa-check"></i> Conferma</button>
    </form>

    <script>$('nav i').remove();</script>
{{ end }}
