{{ define "content" }}
    <div class="dashboard">
        <button hx-post="/user/signout">
            <i class="fas fa-sign-out-alt"></i>
            <span>Esci</span>
        </button>

        <button hx-get="/user/change_username">
            <i class="fas fa-user"></i>
            <span>Cambia nome utente</span>
        </button>

        <button hx-get="/user/change_email">
            <i class="fas fa-envelope"></i>
            <span>Cambia email</span>
        </button>

        <button hx-get="/user/change_password">
            <i class="fas fa-key"></i>
            <span>Cambia password</span>
        </button>

        <button hx-get="/user/delete_1">
            <i class="fas fa-trash"></i>
            <span>Elimina account</span>
        </button>
    </div>
{{ end }}
