{{ define "title" }}Accedi{{ end }}

{{ define "content" }}
    <form method="POST">
        <label for="username">Nome utente</label> <br>
        <input type="text" name="username" required> <br>

        <label for="password">Password</label> <br>
        <input type="password" name="password" required> <br>

        <button class="icon-text"><i class="fas fa-sign-in-alt"></i> Accedi</button> <br>

        <a hx-get="/user?action=forgot_password">Hai dimenticato la password?</a> <br>
        Non hai un account? <a hx-get="/user?action=signup">Registrati</a>
    </form>

    <script> $("nav i").remove(); </script>
{{ end }}
