/* --- VARIABLES --------------------- */
:root {
    --red: #d50000;
    --orange: #ff9900;
    --background: #f9f9f9;
    --section: #e1e1e1;
    --text: #4a4a4a;

    --cursive: 'Satisfy', cursive;
    --sansserif: 'Inclusive Sans', sans-serif;

    --base-size: 2rem;
}


/* --- GENERAL ELEMENTS -------------- */
* {
    font-family: var(--sansserif);
}

h1 {
    font-family: var(--cursive);
}

a, a:visited {
    color: var(--orange);
    text-decoration: underline;
}

a:hover {
    color: var(--red);
    border-bottom: none;
}

textarea {
    resize: none;
}

button {
    margin: 5px 0;
    border: 2px solid var(--text);
    border-radius: 8px;
}

button:hover {
    border-color: var(--text);
}

button[disabled]:hover {
    background-color: var(--red);
    cursor: unset;
}

.links {
    padding-left: 0;
}

.links button {
    width: 70%;
    height: 50px;
    text-align: left;
}

.links button i {
    width: 25px;
}


/* --- NAV, MAIN AND FOOTER ---------- */
nav {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 90px;
    padding: 5px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    background-color: var(--red);
}

#home, #settings {
    font-size: 30px;
    width: 50px;
    color: white;
    padding: 20px;
    position: relative;
}

#home:hover, #settings:hover {
    cursor: pointer;
}

#logo {
    font-size: 45px;
    color: white;
    font-family: var(--cursive);
    text-shadow: var(--orange) 2px 3px 2px;
}

nav img {
    width: 3rem;
    margin: 0 1.5rem;
    padding: 0;
}

main {
    margin: 130px auto;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;

    color: white;
    background-color: var(--red);
    font-size: 80%;
}

footer #timestamp {
    display: none;
}

footer a:hover {
    color: white;
}


/* --- FORM -------------------------- */
label {
    display: inline;
}

input {
    margin: 5px 0;
}

button.icon {
    width: 50px;
    height: 50px;
    color: white;
}

.item {
    display: flex;
}

@media (orientation: landscape) {
    input.name { width: 25vw; }
    input.quantity { width: 10vw; }
    input.expiration { width: 15vw; }

    input+input { margin-left: 5px; }
}

@media (orientation: portrait) {
    .item {
        flex-direction: column;
        align-items: flex-start;
        margin: 10px auto;
        border-left: 3px solid var(--orange);
        padding-left: 5px;
    }

    input.name { width: 80vw; }
    input.quantity { width: 40vw; }
    input.expiration { width: 50vw; }
}


/* --- MESSAGES ----------------- */
message {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, .6);
    overflow: hidden;
}

message > content {
    width: 60%;

    position: absolute;
    top: 30%;
    left: 20%;

    background-color: var(--orange);
    border-radius: 10px;

    padding: 50px 30px;
    box-sizing: border-box;
}

message > content > p {
    margin-bottom: 30px;
}

message > content > div {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

message button + button {
    margin-left: 5px;
}

#cookie-notice {
    display: none;
}


/* --- PAGE SPECIFIC ------------ */
.menu-day {
    border-left: 3px solid var(--orange);
    padding-left: 10px;
    margin: 10px auto;
}

ul {
    margin-bottom: 0;
}
