/* --- VARIABLES --------------------- */
:root {
    --red: #d50000;
    --orange: #f90;
    --background: #f9f9f9;
    --section: #e1e1e1;
    --text: #4a4a4a;
    --cursive: 'Satisfy', cursive;
    --sansserif: 'Inclusive Sans', sans-serif;
    --base-size: 2rem;
}



/* --- GENERAL ELEMENTS -------------- */
* {
    font-family: var(--sansserif);
}

a, a:visited {
    color: var(--orange);
    text-decoration: underline;
}

a:hover {
    color: var(--red);
    border-bottom: none;
    cursor: pointer;
}

button {
    margin: 5px 0;
    border: 2px solid var(--text);
    border-radius: 8px;
}

button:hover {
    border-color: var(--text);
}

button:disabled:hover {
    cursor: default;
}

#unmatching_passwords {
    color: var(--red);
}



/* --- NAV, MAIN AND FOOTER ---------- */
nav {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 90px;
    padding: 5px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    background-color: var(--red);
}

#home, #back {
    font-size: 30px;
    width: 50px;
    color: white;
    padding: 10px;
    position: relative;
}

#home:hover, #back:hover {
    cursor: pointer;
}

#logo {
    font-size: 45px;
    color: white;
    font-family: var(--cursive);
    text-shadow: var(--orange) 2px 3px 2px;
}

main {
    margin: 130px auto;
}

h1 {
    margin-top: 1vh;
    margin-bottom: 3vh;
    font-size: 2em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 10px 30px;
    box-sizing: border-box;

    color: white;
    background-color: var(--red);
    font-size: 80%;
}

footer a:hover {
    color: white;
    cursor: pointer;
}



/* --- FORM -------------------------- */
label {
    display: inline;
}

input {
    margin: 5px 0;
}

button.icon {
    width: 50px;
    height: 50px;
    color: white;
}

button.icon-text {
    height: 50px;
    color: white;
}



/* --- MESSAGES ----------------- */
message {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0 0 0 / 60%);
    overflow: hidden;
}

message > content {
    width: 60%;
    position: absolute;
    top: 30%;
    left: 20%;
    background-color: var(--orange);
    border-radius: 10px;
    padding: 50px 30px;
    box-sizing: border-box;
}

message > content > p {
    margin-bottom: 30px;
}

message button {
    margin: 5px;
}

#cookie-notice {
    display: none;
}



/* --- DASHBOARD ---------------- */
.dashboard {
    display: flex;
    flex-wrap: wrap;
}

.dashboard button {
    background-color: var(--orange);
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

@media (orientation: portrait) {
    .dashboard button {
        height: 18.5vh;
        width: 18.5vh;
    }
}

@media (orientation: landscape) {
    .dashboard button {
        height: 12vw;
        width: 12vw;
    }
}

.dashboard button:enabled:hover {
    cursor: pointer;
    background-color: var(--red);
}

.dashboard button.transparent {
    background-color: transparent;
    border-style: dashed;
    color: var(--text);
}

.dashboard button.transparent:enabled:hover {
    background-color: rgba(0 0 0 / 20%);
}

.dashboard button i {
    display: block;
    font-size: 1.8em;
    margin-bottom: .3em;
}

.dashboard button span {
    display: block;
    white-space: collapse;
    overflow-wrap: anywhere;
}



/* --- PAGE SPECIFIC: Shopping -- */
.shopping-list > * {
    display: block;
}

.shopping-list *:not(#empty-label):hover {
    cursor: pointer;
}

.shopping-list input[type="checkbox"] {
    width: 20px;
    height: 20px;
}



/* --- PAGE SPECIFIC: Menu ------ */
.menu-day {
    border-left: 3px solid var(--orange);
    padding-left: 10px;
    margin: 10px auto;
}

textarea {
    resize: none;
}

@media(orientation: landscape) {
    .menu-day {
        display: flex;
        flex-flow: row wrap;
    }

    .menu-day b {
        width: 100%;
        display: block;
    }

    .menu-day b+textarea {
        margin-right: 5px;
    }

    .menu-day textarea {
        width: 48%;
    }

    .menu-day textarea+textarea {
        margin-left: 5px;
    }
}



/* --- PAGE SPECIFIC: Storage --- */
.article {
    margin: 10px auto;
    display: flex;
    border-left: 3px solid var(--orange);
    padding-left: 5px;
}

.article.expired {
    border-color: var(--red);
}

.article, .article *:hover {
    cursor: pointer;
}

@media (orientation: portrait) {
    .article {
        flex-direction: column;
        align-items: flex-start;
    }

    .article input.name {
        width: 80vw;
    }

    .article input.quantity {
        width: 30vw;
    }

    .article input.expiration {
        width: 50vw;
    }
}

@media (orientation: landscape) {
    .article input.name {
        width: 25vw;
    }

    .article input.quantity {
        width: 10vw;
    }

    .article input.expiration {
        width: 15vw;
    }

    .article input+input {
        margin-left: 5px;
    }
}
