{% extends "templates/base.html" %}

{% set title = 'Elimina account' %}

{% set back_link = '/account/impostazioni' %}

{% block content %}
    <form method="POST">
        <span>
            {% if warning %}
                Sei davvero sicuro di voler eliminare l'account? <br>
            {% else %}
                Sei <b>SICURISSIMO</b> di voler eliminare l'account? <br>
                Tutti i tuoi dati saranno persi per sempre. <br>
            {% endif %}
        </span> <br>

        <button class="icon-text"><i class="fas fa-check"></i> S&igrave;, sono {{ 'davvero ' if not warning }}sicuro.</button>
    </form>
{% endblock %}
