{% extends "base.html" %}

{% set title = 'Reset password' %}

{% block imports %} <script src="{{ url_for('static', filename='js/account.js') }}"></script> {% endblock %}

{% block content %}
    <form method="POST" onsubmit="return comparePasswords();">
        <input value="{{ token }}" name="token" hidden>

        <label for="email">Email</label> <br>
        <input type="email" name="email" required> <br>

        <label for="password1">Nuova password</label> <br>
        <input type="password" name="new" id="password1" required> <br>

        <label for="password2">Ripeti (nuova) password</label> <br>
        <input type="password" id="password2" required> <br>

        <button class="icontext"><i class="fas fa-check"></i> Conferma</button>
    </form>
{% endblock %}
