{% extends "base.html" %}

{% set title = 'Cambio password' if type == 'change' else 'Reset password' %}

{% block imports %}
    <script>
        function comparePasswords() {
            if ($("#new1").val() != $("#new2").val()) {
                showMessage("Le due password non corrispondono");
                return false;
            } else {
                return true;
            }
        }
    </script>
{% endblock %}

{% block content %}
    <form method="POST" onsubmit="return comparePasswords();">
        {% if type == 'change' %}
            <label for="old">Password attuale</label> <br>
            <input type="password" name="old" required> <br>
        {% elif type == 'reset' %}
            <input value="{{ token }}" name="token" hidden>

            <label for="email">Email</label> <br>
            <input type="email" name="email" required> <br>
        {% endif %}

        <label for="new1">Password</label> <br>
        <input type="password" name="new" id="new1" required> <br>

        <label for="new2">Ripeti password</label> <br>
        <input type="password" id="new2" required> <br>

        <button>Conferma</button>
    </form>
{% endblock %}
