{% extends "templates/dashboard.html" %}

{% set title = "Impostazioni" %}

{% set items = [
    {
        'link': '/account/esci/',
        'icon': 'fa-sign-out-alt',
        'name': 'Esci'
    },
    {
        'link': '/account/cambia_nome/',
        'icon': 'fa-user',
        'name': 'Cambio nome'
    },
    {
        'link': '/account/cambia_email/',
        'icon': 'fa-envelope',
        'name': 'Cambio email'
    },
    {
        'link': '/account/cambia_password/',
        'icon': 'fa-key',
        'name': 'Cambio password'
    },
    {
        'link': '/account/elimina/',
        'icon': 'fa-trash',
        'name': 'Elimina account'
    }
] %}
