{% extends "base.html" %}

{% set title = 'Registrazione' %}

{% block imports %}
    <style> #home, #settings { z-index: -1; } </style>

    <script>
        function comparePasswords() {
            if ($("#password1").val() != $("#password2").val()) {
                showMessage(false, "Le due password non corrispondono");
                return false;
            } else {
                return true;
            }
        }
    </script>
{% endblock %}

{% block content %}
    <form method="POST" onsubmit="return comparePasswords();">
        <label for="username">Nome utente</label> <br>
        <input type="text" name="username" required> <br>

        <label for="email">Email</label> <br>
        <input type="email" name="email" required> <br>

        <label for="password1">Password</label> <br>
        <input type="password" name="password" id="password1" required> <br>

        <label for="password2">Ripeti password</label> <br>
        <input type="password" name="password" id="password2" required> <br>

        <button title="Registrati" class="icon"><i class="fas fa-user-plus"></i></button>
        <button title="Accedi" class="icon" onclick="location.href='/account/accedi';" type="button"><i class="fas fa-sign-in-alt"></i></button>
    </form>
{% endblock %}
