{% extends "base.html" %}

{% set title = 'Accesso' %}

{% block imports %} <style> #home, #settings { z-index: -1; } </style> {% endblock %}

{% block content %}
    <form method="POST">
        <label for="username">Nome utente</label> <br>
        <input type="text" name="username" required> <br>

        <label for="password">Password</label> <br>
        <input type="password" name="password" required> <br>

        <button title="Accedi" class="icon"><i class="fas fa-sign-in-alt"></i></button>
        <button title="Registrati" class="icon" onclick="location.href='/account/registrati';" type="button"><i class="fas fa-user-plus"></i></button>
        <button title="Recupera password" class="icon" onclick="location.href='/account/recupera_password';" type="button"><i class="fas fa-key"></i></button>
    </form>
{% endblock %}
