{% extends "templates/dashboard.html" %}

{% set meta_title = 'CucinAssistant' %}

{% set title = 'Bentornato, ' + get_username() + '!' %}

{% set items = [
    {
        'name': 'Menù',
        'icon': 'fa-utensils',
        'target': '/menu/'
    },
    {
        'name': 'Dispensa',
        'icon': 'fa-box',
        'target': '/dispensa/'
    },
    {
        'name': 'Lista della spesa',
        'icon': 'fa-shopping-cart',
        'target': '/spesa/'
    },
    {
        'name': 'Impostazioni',
        'icon': 'fa-cog',
        'transparent': 1,
        'target': '/account/impostazioni'
    }
] %}
