{% extends "base.html" %}


{% block content %}
    <form method="POST" autocomplete="off">
        <div class="buttons-line">
            <button title="Conferma" class="icon" onclick="location.href='..';" type="button"><i class="fas fa-check"></i></button>
        </div>

        <div>
            {% if not list %}
                <i>La lista &egrave; vuota.</i>
            {% else %}
                <ul>
                    {% for entry in list %}
                        <li><a href="./{{ entry.eid }}">{{ entry.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </form>
{% endblock %}
