{% extends "base.html" %}


{% block imports %}
    <script>
        function saveData() {
            var data = "";
            for (c of $('input[type=checkbox]:checked')) data += c.id.slice(4) + ';';
            $('#data').val(data.slice(0, -1));
        }
    </script>
{% endblock %}

{% block content %}
    <form method="POST" autocomplete="off">
        <div class="buttons-line">
            <button class="icon" onclick="location.href='.';" type="button"><i class="fas fa-undo"></i></button>
            <button class="icon" onclick="saveData();"><i class="fas fa-check"></i></button>
        </div>

        <div>
            {% if not list %}
                <i>La lista &egrave; vuota.</i>
            {% else %}
                {% for entry in list %}
                    <div>
                        <input id="eid-{{ entry.eid }}"type="checkbox">
                        <label for="eid-{{ entry.eid }}">{{ entry.name }}</label>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <input id="data" name="data" hidden>
    </form>
{% endblock %}
