{% extends "templates/base.html" %}

{% set title = 'Cambio password' %}

{% set back_link = '/account/impostazioni' %}

{% block content %}
    <form method="POST">
        <label for="old">Password attuale</label> <br>
        <input type="password" name="old" required> <br>

        <label for="password1">Nuova password</label> <br>
        <input type="password" name="new" required> <br>

        <label for="password2">Ripeti (nuova) password</label> <br>
        <input type="password" required> <br>

        <button class="icon-text"><i class="fas fa-check"></i> Conferma</button>
    </form>
{% endblock %}
