{% extends "templates/dashboard.html" %}

{% set title = 'Impostazioni' %}

{% set back_link = '/' %}

{% set items = [
    {
        'name': 'Esci',
        'icon': 'fa-sign-out-alt',
        'target': '/account/esci/',
        'method': 'post'
    },
    {
        'name': 'Cambio nome',
        'icon': 'fa-user',
        'target': '/account/cambia_nome/'
    },
    {
        'name': 'Cambio email',
        'icon': 'fa-envelope',
        'target': '/account/cambia_email/'
    },
    {
        'name': 'Cambio password',
        'icon': 'fa-key',
        'target': '/account/cambia_password/'
    },
    {
        'name': 'Elimina account',
        'icon': 'fa-trash',
        'target': '/account/elimina/'
    }
] %}
