{% extends "base.html" %}

{% set title = 'Accesso' %}

{% block imports %} <style> #home, #settings { z-index: -1; } </style> {% endblock %}

{% block content %}
    <form method="POST">
        <label for="username">Nome utente</label> <br>
        <input type="text" name="username" required> <br>

        <label for="password">Password</label> <br>
        <input type="password" name="password" required> <br>

        <button>Accedi</button>

        <div><a href="/account/recupera_password">Password dimenticata?</a></div>
    </form>

    <hr>

    <div>Non sei registrato ma vuoi un account? <a href="/account/registrati">Registrati</a></div>
{% endblock %}
