{% extends "templates/base.html" %}

{% set title = 'Informazioni' %}

{% block imports %} {% if not is_logged() %} <style> #settings { z-index: -1; } </style> {% endif %} {% endblock %}

{% block content %}
    <p>
        Attualmente, <b>CucinAssistant</b> ha {{ get_users_no() }} utenti attivi.
        La versione corrente &egrave; la <b>{{ version }}</b>.
        <br>

        <b>CucinAssistant</b> &egrave; disponibile online su <a href="{{ config['Environment']['Address'] }}">{{ config['Environment']['Address'].split('//')[1] }}</a>
        e come applicazione per Android sul <a href="{{ config['Various']['Store'] }}" target="_blank">Play Store</a>,
        <br>

        Il codice sorgente &egrave; disponibile <a href="https://github.com/gianluparri03/cucinassistant" target="_blank">qui</a>.
        <br>

        Per informazioni riguardo alla privacy, potete consultare <a href="/privacy">questa pagina</a>.
        <br>

        Per ulteriori informazioni, potete scrivere una mail a
        <a href="mailto:{{ config['Email']['Address'] }}" target="_blank">{{ config['Email']['Address'] }}</a>.
    </p>
{% endblock %}
