{% extends "base.html" %}

{% set title = 'Informazioni' %}

{% block imports %} {% if not is_logged() %} <style> #settings { z-index: -1; } </style> {% endif %} {% endblock %}

{% block content %}
    <p>
        <b>CucinAssistant</b> &egrave; disponibile online su <a href="{{ config['Environment']['Address'] }}">{{ config['Environment']['Address'].split('//')[1] }}</a>.
        Gli utenti Android possono installare l'applicazione dal <a href="{{ config['Various']['Store'] }}" target="_blank">Play Store</a>,
        mentre per altri dispositivi si pu&ograve; seguire <a href="https://www.cdc.gov/niosh/mining/content/hearingloss/installPWA.html" target="_blank">questa guida</a>.
        <br> <br>

        Il progetto &egrave; stato sviluppato da <a href="https://gianlucaparri.me" target="_blank">Gianluca Parri</a>;
        il codice sorgente &egrave; disponibile <a href="https://git.gianlucaparri.me/gianluparri03/cucinassistant" target="_blank">qui</a>.
        Vengono utilizzati <a href="https://github.com/oxalorg/sakura" target="_blank">sakura</a> come framework css,
        <a href="https://fonts.google.com/specimen/Inclusive+Sans" target="_blank">Inclusive Sans</a> e
        <a href="https://fonts.google.com/specimen/Satisfy" target="_blank">Satisfy</a> come font e alcune icone di
        <a href="https://fontawesome.com/" target="_blank">FontAwesome</a>.
        <br> <br>

        Per informazioni riguardo alla privacy, potete consultare <a href="/privacy">questa pagina</a>. <br>
        Per ulteriori informazioni, potete scrivere una mail a
        <a href="mailto:{{ config['Email']['Address'] }}" target="_blank">{{ config['Email']['Address'] }}</a>.
        <br> <br>

        Attualmente, <b>CucinAssistant</b> ha {{ get_users_no() }} utenti attivi.
    </p>
{% endblock %}
