{% extends "templates/base.html" %}

{% set title = 'Privacy' %}

{% block imports %} {% if not is_logged() %} <style> #settings { z-index: -1; } </style> {% endif %} {% endblock %}

{% block content %}
    <p>
        I dati inviati a <b>CucinAssistant</b>, tramite app o browser, vengono criptati dal protocollo HTTPS, in modo
        che siano comprensibili solo all'utente e al server. I dati non vengono condivisi con terzi e sono salvati in
        chiaro, ad eccezione delle password, che vengono cifrate. Per ulteriori informazioni, potete contattarmi su
        <a href="mailto:{{ config['Email']['Address'] }}" target="_blank">{{ config['Email']['Address'] }}</a>.
    </p>
{% endblock %}
